/* Styles the page and makes it dynamic to fit different screen sizes.  Works on mobile andd browser */
html                                
{
    width: 100%;
    height: 100%;
    background-image:linear-gradient(#C1CCD8, #18447A);
    color: whitesmoke;
}

.head{
    padding-top: 50x;
    border-style: solid;
    right: 50%;
    left: 50%;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;   
}


.main{
    width: 100%;
    height: 730px;
    border-style: solid;
    flex:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}


.searchBox{
    font-size: x-large;
    width: 45%;
    height: 60%;
    display: inline-block;
    margin: auto;
    
}
    
.input-group{
     display: block;
     display: flex;
     flex-direction: column;
    flex-wrap: wrap;   
}

.searched{
    border-style: solid;
    margin: auto;
    position: relative;   
    display: flex;
    flex-direction: column;
   flex-wrap: wrap;   
}   

.savebutton{
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
   flex-wrap: wrap;   
}

.forcastBox{
    border-style: solid;
    font-size: x-large;
    width: 45%;
    float: right;
    height: 40%;
    flex: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
   flex-wrap: wrap;   
}
.forcastBox ul {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    width: 15%;
    margin: 10px;
    display: flex;
    flex-direction: column;
   flex-wrap: wrap; 
  }


footer{
    text-align: center;
    padding: 10px;
    margin: 10px; 
    display: flex;
    flex-direction: column;
   flex-wrap: wrap;   
   color: black;
}

@media screen and (max-width: 500px) {
    .searchBox{
        font-size: large;
        width: 45%;
        height: 60%;
        display: inline-block;
        margin: auto;
        
    }
    .forcastBox{
        font-size: x-small;
        width: 100%;
        float: right;
        height: 40%;
        flex: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
       flex-wrap: wrap;   
    }
    .forcastBox ul {
        display: flex;
        flex-direction: column;
       flex-wrap: wrap;  
       color: black; 
    }
    footer{
        display : none; 
        visibility : hidden; 
    }
    @media screen and (max-width: 330px) {
        .forcastBox{
            font-size: xx-small;
            width: 100%;
            float: right;
            height: 40%;
            flex: auto;
            margin: auto;
            display: flex;
            flex-direction: column;
           flex-wrap: wrap;   
        }
        .forcastBox ul {
            display: flex;
            flex-direction: column;
           flex-wrap: wrap;  
           color: black; 
        }
    }
  }